<body>
    <div class="page">

        <div id="in_page_spacing">
            <!-- Page Content -->


                <!-- Page Heading/Breadcrumbs -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Our Team
                            <small>It's Nice to See You!</small>
                        </h1>

                    </div>
                </div>
                <!-- /.row -->

                <!-- Team Members Row -->
                <div class="row">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/Dr.Hillel.jpg" alt="">
                        <h3>Hillel Haim, MD, PhD
                            <p><small></small></p>
                        </h3>
                        <h5>Principal Investigator</h5>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/Jacklyn.jpg" alt="">
                        <h3>Jacklyn Johnson
                            <h5>Graduate Student, Microbiology</h5>
                        </h3>
                        <h5>Energy Landscape of the HIV-1 Envs</h5>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/Raghav.jpg" alt="">
                        <h3>Raghavendranath Kandula

                            <h5>Graduate Student, Computer Science
                            </h5>
                            <p>
                        </h3>
                        <h5>Population-level Evolution of HIV-1 Env
                        </h5>
                    </div>
                </div>
            <br>
            <br>

            <div class="row">

                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/Manuel.jpg" alt="Manuel Flores">
                        <h3>Manuel Flores

                            <h5> PREP Scholar
                            </h5>
                        </h3>
                        <h5>HIV-1 Entry and inactivation</h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/khan.jpg" alt="">
                        <h3>Khan Kaillin


                            <h5>Research Assistant, Computer Science
                            </h5>
                        </h3>
                        <h5>Seasonal Evolution of Influenza Virus
                        </h5>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <img src="/images/Jiawen.jpg" alt="" ">
                <h3>Jiawen Xu


                    <h5> Research Assistant, School of Business 

</h5>
                </h3>
                <h5>Population-level Evolution of HIV-1 Env
                </h5>
            </div>
            

                    


                </div>


<div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Previous Lab Members</h2>
                    <ul>
                        <li>
                            <h4>Hagit Hodis</h4>
                        </li>
                        <li>
                            <h4>Orlando DeLeon</h4>
                        </li>
                        <li>
                            <h4>Yunxia O’Malley</h4>
                        </li>
                        <li>
                            <h4>Hamid Salimi</h4>
                        </li>
                        <li>
                            <h4>Noah Eichelberger</h4>
                        </li>
                        <li>
                            <h4>Yinjie Zhai</h4>
                        </li>
                        <li>
                            <h4>Elizabeth Winter</h4>
                        </li>
                    </ul>
                </div>
            </div>

</div>
        </div>
        </div>
        </div>

        
</body>