<body>
    <div class="page">


        <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Our Team
                        <small>It's Nice to See You!</small>
                    </h1>
                   
                </div>
            </div>
            <!-- /.row -->

<!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Hillel Haim, MD, PhD
                    <p><small>Principal Investigator</small></p>
                </h3>
                <p>Mostly anything</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Jacklyn Johnson
                    <p><small>Graduate Student, Microbiology</small></p>
                </h3>
                <p>Energy Landscape of the HIV-1 Envs</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Raghavendranath Kandula

                    <p><small>Graduate Student, Computer Science
</small>
                        <p>
                </h3>
                <p>Population-level Evolution of HIV-1 Env
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Manuel Flores

                    <p> <small>PREP Scholar
</small></p>
                </h3>
                <p>HIV-1 Entry and inactivation</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Khan Kaillin


                    <p> <small>Undergraduate Research Assistant, Computer Science
</small></p>
                </h3>
                <p>Seasonal Evolution of Influenza Virus
                </p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Jiawen Xu


                    <p> <small>Undergraduate Research Assistant, School of Business 

</small></p>
                </h3>
                <p>Population-level Evolution of HIV-1 Env
                </p>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Previous Lab Members</h2>
                    <ul>
                        <li>
                            <h4>Hagit Hodis</h4>
                        </li>
                        <li>
                            <h4>Orlando DeLeon</h4>
                        </li>
                        <li>
                            <h4>Yunxia O’Malley</h4>
                        </li>
                        <li>
                            <h4>Hamid Salimi</h4>
                        </li>
                        <li>
                            <h4>Noah Eichelberger</h4>
                        </li>
                        <li>
                            <h4>Yinjie Zhai</h4>
                        </li>
                        <li>
                            <h4>Elizabeth Winter</h4>
                        </li>

                    </ul>


                </div>
            </div>



        </div>
        </div>
        </div>
        
</body>