<body>
    <div class="page">
        <div id="in_page_spacing">
<div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Datasets</h1>
                    <div class="intro">
                        <div class="col-lg-12">
                            <div>
                                <p style="font-size: 16px">
                                    <ol>
                                        <li><p>Phylogenetic tree of Envs we isolated.</p>
                                            <p><a target="_blank" href="https://1drv.ms/b/s!ArpJAtbDqEh3btDkXGleTfcPqK8">Download</a></p></li>
                                        <br/>
                                       <li><p>Amino acid sequence alignment (in FASTA format) of 523 Envs we isolated from plasma samples collected in Iowa City and Seattle. All Envs are aligned against the HXBc2 isolate.</p>
                                       <p><a  target="_blank" href="https://1drv.ms/u/s!ArpJAtbDqEh3b_aHvJFd71AoTv4">Download</a> </p></li>
                                       <br/>
                                       <li><p>Antigenic features of Envs isolated from samples collected in Iowa City and Seattle. Binding of the probes to each Env was measured using a cell-based ELISA system. Data are expressed as percent binding of the antibody to the tested Env relative to its binding to the control AD8 Env. Binding is normalized for the level of cell-surface expression using saturating concentrations of CD4-Ig. Values were log-transformed and corrected by a logistic function.</p>
                                       <p><a target="_blank" href="https://1drv.ms/x/s!ArpJAtbDqEh3aMGH_bMyj127WLs">Download</a></p></li>
                                       <br/>
                                       <li><p> Segmental features of Envs isolated from samples collected in Iowa City and Seattle. For each segment we calculated the amino acid length (L), number of PNGS (G), Charge (C) and mean hydropathy score (H). The accession number of each Env and year of isolation are indicated. N/A, Genbank accession number not yet assigned. ND, test not performed.</p>
                                       <p><a target="_blank" href="https://1drv.ms/x/s!ArpJAtbDqEh3ciyIQas5fx_r3NU">Download</a> </p></li>
                                       <br/>
                                       <li><p>Amino acid sequence alignment (FASTA format) of all Envs from the MOTIVATE trial used for measuring the Volatility Index of segmental and sequence features. All Envs were isolated from plasma samples collected before initiation of Maraviroc treatment. For all sequence datasets used to calculate Volatility indices, identical protein sequences were excluded.</p>
                                       <p><a target="_blank" href="https://1drv.ms/u/s!ArpJAtbDqEh3cPZ4d8tGOdfCwHM">Download</a> </p></li>
                                       <br/>
                                       <li><p>Amino acid sequence alignment (FASTA format) of Envs of clade C viruses used for analysis of the Volatility Index of segmental features. All Envs included in the alignment were isolated from plasma samples.</p>
                                       <p><a target="_blank" href="https://1drv.ms/u/s!ArpJAtbDqEh3cR0ZuO1zwSqV2kE">Download</a></p></li>
                                    <br/>
                                    </ol>

                                    
                                </p>
                            </div>
                        </div>



                        <br/>
                    </div>



                </div>
            </div>
        </div>
    </div>
    </div>

</body>