<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<body>
    <div class="page">
        <div id="in_page_spacing">

            <div class="row">
                        <div class="col-lg-12">
                    <h1 class="page-header">Welcome to our website! </h1>
                    <div class="intro">
                        <div class="col-lg-5">
<br>

                                <p style="font-size: 20px">
                                    Viruses apply an array of mechanisms to resist inactivation by host antibodies. Many viruses can change the structure of their proteins by mutations. Viruses can also mask conserved elements on their surface proteins or increase their structural stability. In our lab we try understand these molecular and evolutionary evasion mechanisms to design strategies that can improve antibody-based vaccines. Two complementary research programs, <b><a href="#molecular" style="color: green">molecular</a></b> and <b><a href="#computational" style="color: blue">computational</a></b>, apply different tools from the fields of chemistry, physics, structural biology and mathematics to achieve this goal.
                                </p>
 
                        </div>
                        <div class="col-lg-7
                            
                            
                            <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="captioned-gallery">
	<figure class="slider">
		<figure>
			<img src="/images/Fig8.jpg" alt>
			<figcaption>Diffusional Expansion of HIV-1 Env properties</figcaption>
		</figure>
		<figure>
			<img src="/images/Evolution as a Diffusion Process.jpg" alt>
			<figcaption>HIV-1 Env evolution; from in-host volatility to population-level diversity</figcaption>
		</figure>
		<figure>
			<img src="/images/ELS Illustration.jpg" alt>
			<figcaption>Energy Landscape of HIV-1 Env Entry and Neutralization</figcaption>
		</figure>
		<figure>
			<img src="/images/Fig8.jpg" alt>
			<figcaption>Diffusional Expansion of HIV-1 Env properties</figcaption>
		</figure>
		<figure>
			<img src="/images/Evolution as a Diffusion Process.jpg" alt>
			<figcaption>HIV-1 Env evolution; from in-host volatility to population-level diversitys</figcaption>
		</figure>
</figure>
</div>

                       

</div>

                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: #9bc4ff">
                                <h4><i class="fa fa-fw fa-check"></i> <a id="computational" style="color:black">Evolution as a Diffusion Processes</a></h4>
                            </div>
                            <div class="panel-body">
                                <p>Wondering why the Black and Scholes equation, designed to predict changes in stock market options, appears in our website banner? </p>
                                <p>
                                    Well, many of the computational tools we created are inspired by concepts from non-biological systems (and mostly from mathematical finance). Common to most is the presence of a dominant random variable that guides change. Accordingly, we treat the evolution of virus properties (simple or complex) as a process of diffusion.
                                </p>
                                <p>

                                    Click on the link to see some of our (evolving) work.
                                </p>
                                <a href="/research2"  class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color:#9bf7c3">
                                <h4> <a id="molecular" style="color:black"><i class="fa fa-fw fa-gift"></i>Virus Entry, &amp; Transmission</a></h4>
                            </div>
                            <div class="panel-body" style="background: rgba(201, 251, 247, 0.17)">
                                <p>The envelope glycoproteins (Envs) of HIV-1 mediate entry of the virus into host cells. For this purpose, they “pack” a large amount of potential energy that drives the fusion process with cells. By controlling the strength of Env interactions that conserve this energy, we can allow its release and can thus inactivate virus infectivity. Through our work we identify methods to guide Env to forms that are more sensitive to loss of potential energy by interaction with antibodies or microbicides.</p>

                                <a href="/research1" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <a class="twitter-timeline" data-width="410" data-height="540" data-dnt="true" data-theme="light" href="https://twitter.com/HaimLab">Tweets by HaimLab</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div>

            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

</body>