<body>
    <div id="main">

        <div id="primary">
            <div id="content" role="main">
                    <header class="entry-header">
                        <h1 class="entry-title">Home</h1>
                    </header>
                    <!-- .entry-header -->

                    <div class="entry-content">
                        <p>Welcome to the Haims Lab!</p>
                        <p>Welcome to the Haim microbiology Lab website. We are based in the Microbiology Department and Center for Integrative Animal Behavior at University of Iowa, Iowa City. Please navigate our site using the menu bars above or enter here.</p>
                    </div>
            </div>
            <!-- #content -->
        </div>
        <!-- #primary -->
    </div>
</body>