<body>
    <div class="page">
        <div id="in_page_spacing">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Selected Publications</h1>
                    <div class="intro">
                        <div class="col-lg-12">
                            <div>
                                <p style="font-size: 16px">
                                    <ol style="font-size: large;">
                                        <li><p>Johnson J, Zhai Y, Salimi H, Espy N, Eichelberger N, DeLeon O, O’Malley Y, Courter J, Smith AB III, Madani N, Sodroski J,  and Haim H. Induction of a Tier-1-like Phenotype in Diverse Tier-2 Isolates by Agents that Guide HIV-1 Env to Perturbation-sensitive, Non-native States. Under Review, Feb 2017. </p></li>
                                        <br/>
                                       <li><p>DeLeon O, Hodis H, O’Malley Y, Johnson J, Salimi H, Zhai Y, Winter E, Remec C, Eichelberger N, Van Cleave B, Puliadi R, Harrington RD, Stapleton JT, Haim H. Accurate Predictions of Population-level Changes in Sequence and Structural Properties of HIV-1 Env Using a Volatility-controlled Diffusion Model. <strong>PLoS Biology</strong>, in print (Mar 2017)</p></li>
                                       <br/>
                                       <li><p>McGee K, Haim H, Korioth-Schmitz B, Espy N, Javanbakht H, Letvin N, Sodroski J. 2014. The selection of low envelope glycoprotein reactivity to soluble CD4 and cold during simian-human immunodeficiency virus infection of rhesus macaques. <strong>J Virol</strong> 88:21-40.</p></li>
                                       <br/>
                                       <li><p>Haim H, Salas I, McGee K, Eichelberger N, Winter E, Pacheco B, Sodroski J. 2013. Modeling virus- and antibody-specific factors to predict human immunodeficiency virus neutralization efficiency. <strong>Cell Host Microbe</strong> 14:547-558.</p></li>
                                       <br/>
                                       <li><p>Haim H, Salas I, Sodroski J. 2013. Proteolytic processing of the human immunodeficiency virus envelope glycoprotein precursor decreases conformational flexibility. <strong>J Virol</strong> 87:1884-1889.</p></li>
                                       <br/>
                                       <li><p>Haim H, Strack B, Kassa A, Madani N, Wang L, Courter JR, Princiotto A, McGee K, Pacheco B, Seaman MS, Smith AB, 3rd, Sodroski J. 2011. Contribution of intrinsic reactivity of the HIV-1 envelope glycoproteins to CD4-independent infection and global inhibitor sensitivity. <strong>PLoS Pathog</strong> 7:e1002101.</p></li>
                                    <br/>
                                    </ol>

                                    
                                </p>
                            </div>
                        </div>



                        <br/>
                    </div>



                </div>
            </div>
        </div>
    </div>

</body>