<body>
    <div class="page">
        <div id="in_page_spacing">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Research Areas</h1>


                            <div >
                                <ol style="font-size:24px">
                                    <li>
                                        <h3>HIV-1 Entry and Transmission<h3>
                                    </li>
                                   
                                    <p style="text-align: justify;">
                                        The potential energy contained within the envelope glycoproteins (Envs) of is used to drive fusion with target cells. Therefore, it should be maintained until the virus reaches the target cell surface, where it can be released through interactions with host cell receptors. Premature loss of this energy (e.g., due to binding of an antibody) can result in loss of function and thus inactivation of the virus. Strong intra-molecular interactions that maintain the structural stability of the trimer prevent loss of this energy. The strength of these interactions defines the height of the energy barriers that maintain Env in the native state (see figure below). Our research focuses on quantitative analysis of the factors that control structural stability of Env. Interactions among the trimer subunits and between Env and the lipid membrane that surrounds the virus are analyzed. These studies have allowed us to identify new approaches to destabilize Env, in order to enhance HIV-1 sensitivity to microbicides and vaccine-elicited antibodies.
                                    </p>
                                     <div class="cycle-slideshow" data-cycle-fx="scrollHorz"
    data-cycle-pause-on-hover="true"
    data-cycle-speed="200" style="align: center">

                                        <img src="/images/ELS Illustration.jpg" alt="ELS Illustration">
                                        </div>
                                        <li>
                                        <h3>Evolution as a Diffusion Processes<h3>
                                    </li>
                                   
                                    <p style="text-align: justify;">
                                        HIV-1 particles contain on their surface a molecule called the envelope glycoprotein (Env). When patients are vaccinated with this protein they make antibodies that target Envs on viruses and inactivate them. The Envs are therefore central to design of vaccines that aim to prevent virus spread between individuals. Unfortunately, HIV-1 mutates very frequently. Consequently, there is a large and continuously increasing number of Env forms in the population. This diversity has limited the success of HIV vaccines tested to date. Knowledge of the nature of Env variants currently in the population and those expected to appear in the future will likely contribute to the design of an effective AIDS vaccine.                                    </p>
                                    <p style="text-align: justify;">
                                        For this purpose we conducted a large study of the changes that occurred over the course of 30 years in Envs of HIV-1 that circulate in the state of Iowa in the United States. For each Env we examined different properties (such as length of specific segments or integrity of small 3-dimensional structural units). These data were analyzed to identify “clues” that would allow us to predict the population changes that had occurred in each property during these years. We were surprised to find such clues in the ‘noise’ that exits within each patient. Comparison of Envs that are found in the blood of patients at the same time showed that each property of Env has a defined tendency for small ‘fluctuations’ in its values. Some properties maintained at a constant value in viruses from the same blood sample whereas other properties consistently show small differences. We designate this tendency for variance “volatility” (i.e., the amount of ‘noise’ around a given average value). The volatility of each property is very similar between different patients. We applied this parameter as the “diffusion coefficient” in an expression that models evolution of virus properties as a diffusion process (similar to the motion of molecules in water). We found that Volatilities measured from a few patient samples from the 1980’s allowed us to accurately predict how different properties of the virus evolved in the Iowa population over the course of 30 years.
                                        </p>
                                     <p style="text-align: justify;">
                                         The ability to predict such changes through limited patient sampling will hopefully contribute to the tailoring of vaccines to structural properties of virus Envs circulating within specific populations and the changes expected to occur during defined time frames in the future. Such tools will mainly be useful for the many subtypes of HIV-1 that circulate worldwide and do not have historic datasets similar to that available for the population of Iowa.
                                         </p>    
                                    <p style="text-align: justify;">    
                                    By translating evolution of properties into a ‘spatial’ problem we can ‘model in’ multiple factors (fixed and dynamic) that can affect the system. The flexibility of the model to accommodate such factors and analyze complex properties allows us to simulate more accurately the environment in which biological changes occur. Our computational tools and approach were inspired by financial math models developed to predict changes in stock prices. The basic types of diffusion of a stock price and structural property of Env are different (e.., geometric versus linear). However, they share many common aspects.
                                    </p>
                                     <p style="text-align: justify;">   
                                     There are multiple advantages to applying diffusion models to analyze and predict evolution of complex properties (such as the 3-dimensional structure of protein segments). By treating evolution as a spatial problem we can also impose constraints (absolute or dynamic) on changes, analogous to forces that prevent free motion in a defined ‘working space’.
                                     
                                     </p>
                                     <br>
                                     <h4><b>Selected Publication:</b></h4>
                                     
                                     <p>DeLeon O, Hodis H, O’Malley Y, Johnson J, Salimi H, Zhai Y, Winter E, Remec C, Eichelberger N, Van Cleave B, Puliadi R, Harrington RD, Stapleton JT, Haim H. Accurate Predictions of Population-level Changes in Sequence and Structural Properties of HIV-1 Env Using a Volatility-controlled Diffusion Model. <strong>PLoS Biology</strong>, in print (Mar 2017)</p>
                                     
                                    
                                </ol>
                                
                            </div>




                        <br/>



                </div>
            </div>
        </div>
    </div>

</body>