<body>
    <div id="main">

        <div id="primary">
            <div id="content" role="main">



                <article id="post-17" class="post-17 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title">Research Areas</h1>
                    </header>
                    <!-- .entry-header -->

                    <div class="entry-content">

The envelope glycoprotein (Env) spike on the surface of human immunodeficiency virus type 1 (HIV-1) serve as the viral fusion machinery and allows entry of the virus into host cells. As the only virus-encoded component on the surface of the HIV-1 particle, Env is also a primary target for the immune response of the host and has thus been the focus of antibody-based vaccine design. My research centers on characterizing the molecular basis of HIV-1 fusion and inhibition by antibodies and on the forces that guide the evolution of these tightly-linked properties in the infected host.

The Env subunits are compacted into a high potential energy complex on the surface of the HIV-1 particle. This energy is used to drive the fusion process and therefore needs to be maintained until the virus reaches the target cell surface, where it can be released through specific interactions with host cell receptors. Premature loss of this energy (e.g., through interaction with an antibody) will result in loss of function and thus inactivation of the virus. Through recent work we have shown how the energetics of Env directly affect the sensitivity of the virus to inactivation by antibodies. The basic parameters that determine the sensitivity of HIV-1 to inactivation by host antibodies could thus be defined. We found that inactivation is strongly affected by the propensity of Env to transition to lower energy states and by the propensity of the antibody to induce such transitions. Incorporation of these measurable parameters into a model allowed us for the first time to predict the sensitivity of a given HIV-1 strain to a given antibody. Importantly, these findings define a new framework for understanding how a virus is inhibited by host antibodies, based on changes in energy state.

The research in my lab is aimed at defining the architecture of the energy landscape of HIV-1 Env and its relationship with both function and sensitivity of the virus to host antibodies. What are the different energy states that Env can sample? How are transitions achieved between different states? Importantly, how can we regulate such transitions? This work will be complemented by comprehensive studies of the evolution of Env structure and energy landscape in individual patients and at higher-order levels. In our work we combine the disciplines of virology, immunology and genetics. The tools we use to address our questions are also varied, from the fields of molecular biology, biochemistry, biophysics and mathematics. Through strong collaborations with several clinical groups across the US, the models that we generate are tested thoroughly.
                    </div>
                    <!-- .entry-content -->
                    <!-- .entry-meta -->
                </article>
                <!-- #post-17 -->


            </div>
            <!-- #content -->
        </div>
        <!-- #primary -->
    </div>
</body>