<body>
    <div class="page">
        <div id="in_page_spacing">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Research Areas</h1>


                            <div >
                                <ol style="font-size:24px">
                                    <li>
                                        <h3><strong>HIV-1 Entry and Transmission</strong><h3>
                                    </li>
                                   
                                    <p style="text-align: justify;">
                                        The potential energy contained within the envelope glycoproteins (Envs) of is used to drive fusion with target cells. Therefore, it should be maintained until the virus reaches the target cell surface, where it can be released through interactions with host cell receptors. Premature loss of this energy (e.g., due to binding of an antibody) can result in loss of function and thus inactivation of the virus. Strong intra-molecular interactions that maintain the structural stability of the trimer prevent loss of this energy. The strength of these interactions defines the height of the energy barriers that maintain Env in the native state (see figure below). Our research focuses on quantitative analysis of the factors that control structural stability of Env. Interactions among the trimer subunits and between Env and the lipid membrane that surrounds the virus are analyzed. These studies have allowed us to identify new approaches to destabilize Env, in order to enhance HIV-1 sensitivity to microbicides and vaccine-elicited antibodies.
                                    </p>
                                     <div class="cycle-slideshow" data-cycle-fx="scrollHorz"
    data-cycle-pause-on-hover="true"
    data-cycle-speed="200"  style="align: center">

                                        <img src="/images/ELS Illustration.jpg" alt="ELS Illustration">
                                        </div>

                                </ol>
                                
                            </div>


                </div>
                </div>
            </div>
        </div>

</body>