<body>
    <div class="page">
        <div id="in_page_spacing">

            <div class="row">

                <div class="col-lg-12">
                    <h1 class="page-header">Research Areas</h1>


                            <div >
                                <ul style="font-size:24px">
                                    <li>
                                        <h3><strong>HIV-1 Entry and Transmission</strong><h3>
                                    </li>
                                   
                                    <p style="text-align: justify;">
                                        The potential energy contained within the envelope glycoproteins (Envs) of is used to drive fusion with target cells. Therefore, it should be maintained until the virus reaches the target cell surface, where it can be released through interactions with host cell receptors. Premature loss of this energy (e.g., due to binding of an antibody) can result in loss of function and thus inactivation of the virus. Strong intra-molecular interactions that maintain the structural stability of the trimer prevent loss of this energy. The strength of these interactions defines the height of the energy barriers that maintain Env in the native state (see figure below). Our research focuses on quantitative analysis of the factors that control structural stability of Env. Interactions among the trimer subunits and between Env and the lipid membrane that surrounds the virus are analyzed. These studies have allowed us to identify new approaches to destabilize Env, in order to enhance HIV-1 sensitivity to microbicides and vaccine-elicited antibodies.
                                    </p>
                                     
<div class="col-lg-12">
                         <div  style="align: center; padding-left: 20%;padding-right: 20%">
    

                                <img  style="margin: auto;
    width: auto/9;
    height: auto;
    
    border: 3px solid black;
    padding: 10px;
    " align="middle" src="/images/ELS Illustration.jpg"  data-cycle-desc="Energy landscape of the HIV-1 Envs">

                               
                                
                            </div>

 </ul>
                </div>
                <div class="col-lg-12">
                    <div>
                      
                                
                                    <h4><b>Selected Publications:</b></h4>
                                    <p style="font-size: 16px">
                                    <ol style="font-size: large;">
                                        
                                        <li><p>Johnson J, Zhai Y, Salimi H, Espy N, Eichelberger N, DeLeon O, O’Malley Y, Courter J, Smith AB III, Madani N, Sodroski J,  and Haim H. Induction of a Tier-1-like Phenotype in Diverse Tier-2 Isolates by Agents that Guide HIV-1 Env to Perturbation-sensitive, Non-native States. Under Review, Mar 2017.</p></li>
                                        <br/>
                                                                              <li><p>McGee K, Haim H, Korioth-Schmitz B, Espy N, Javanbakht H, Letvin N, Sodroski J. 2014. The selection of low envelope glycoprotein reactivity to soluble CD4 and cold during simian-human immunodeficiency virus infection of rhesus macaques. <strong>J Virol</strong> 88:21-40. [<a href="https://www.ncbi.nlm.nih.gov/pubmed/24131720" target="_blank">PubMed</a>]</p></li>
                                       <br/>
                                       <li><p>Haim H, Salas I, McGee K, Eichelberger N, Winter E, Pacheco B, Sodroski J. 2013. Modeling virus- and antibody-specific factors to predict human immunodeficiency virus neutralization efficiency. <strong>Cell Host Microbe</strong> 14:547-558. [<a href="https://www.ncbi.nlm.nih.gov/pubmed/24237700" target="_blank">PubMed</a>]</p></li>
                                       <br/>
                                       <li><p>Haim H, Salas I, Sodroski J. 2013. Proteolytic processing of the human immunodeficiency virus envelope glycoprotein precursor decreases conformational flexibility. <strong>J Virol</strong> 87:1884-1889. [<a href="https://www.ncbi.nlm.nih.gov/pubmed/23175369" target="_blank">PubMed</a>]</p></li>
                                       <br/>
                                       <li><p>Haim H, Strack B, Kassa A, Madani N, Wang L, Courter JR, Princiotto A, McGee K, Pacheco B, Seaman MS, Smith AB, 3rd, Sodroski J. 2011. Contribution of intrinsic reactivity of the HIV-1 envelope glycoproteins to CD4-independent infection and global inhibitor sensitivity. <strong>PLoS Pathog</strong> 7:e1002101. [<a target="_blank" href="https://www.ncbi.nlm.nih.gov/pubmed/21731494">PubMed</a>].</p></li>
                                    <br/>
                                    </ol>

                                    
                                </p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>